@import "tailwindcss";

@font-face {
    font-family: Poppins;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/poppins-regular.woff2) format("woff2")
}

@font-face {
    font-family: Poppins;
    font-display: swap;
    font-weight: 300;
    src: url(/fonts/poppins-light.woff2) format("woff2")
}

@font-face {
    font-family: Poppins;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/poppins-bold.woff2) format("woff2")
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/roboto-regular.woff2) format("woff2")
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    font-weight: 300;
    src: url(/fonts/roboto-light.woff2) format("woff2")
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/roboto-bold.woff2) format("woff2")
}

@theme {
    --font-poppins: "Poppins", "sans-serif";
    --font-roboto: "Roboto", "sans-serif";
    --color-primary-yellow: #E1B12C;
    --color-primary-blue: #153084;
}

.header-image {
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1
}

.full-height {
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100vh;
    height: 100svh
}

button:hover{
    cursor: pointer;
}