---
import { Image } from "astro:assets";
import AraLogo from "../assets/ara-logo.svg";
---

<div
    class="h-screen w-screen bg-white flex items-center justify-center fixed top-0 left-0 z-[60] transition-all duration-500 overflow-hidden"
    id="preloader"
>
    <Image
        src={AraLogo}
        alt=""
        loading="eager"
        class="w-52 h-auto"
        width="69"
        height="53"
        decoding="async"
    />
</div>

<script>
    window.addEventListener("load", () => {
    const e = document.getElementById("preloader");
    e?.classList.add("opacity-0"),
    setTimeout( () => {
        e?.classList.add("hidden")
    }
    , 500)
}
);
</script>