---
import FooterDE from "../components/de/FooterDE.astro";
import Loader from "../components/Loader.astro";
import QuickActions from "../components/QuickActions.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ara Creation Agency</title>
    <meta
      name="description"
      content="Wir sind Ara Creation, eine Kreativagentur mit Sitz in der Schweiz. Gl채nzen Sie in den Augen Ihrer Kunden und lassen Sie Ihre Marke m채chtig bleiben"
    />
    <meta property="og:site_name" content="Ara Creation Agency" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:url" content="https://aracreationagency.com/de" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ara Creation Agency" />
    <meta
      property="og:description"
      content="Wir sind Ara Creation, eine Kreativagentur mit Sitz in der Schweiz. Gl채nzen Sie in den Augen Ihrer Kunden und lassen Sie Ihre Marke m채chtig bleiben"
    />
    <meta
      property="og:image"
      content="https://aracreationagency.com/opengraph-image.png"
    />
    <link rel="canonical" href="https://aracreationagency.com/de" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://aracreationagency.com/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://aracreationagency.com/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://aracreationagency.com/favicon-16x16.png"
    />
  </head>
  <body>
    <div class="overflow-x-hidden">
      <Loader />
      <QuickActions />
      <slot />
      <FooterDE />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
